.boxy-wrapper {
	position: absolute;
}
.boxy-wrapper.fixed {
	position: fixed;
}

/* Modal */

.boxy-modal-blackout {
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
}

/* Border */

.boxy-wrapper {
	empty-cells: show;
}


/* Title bar */

.boxy-wrapper .title-bar {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x 0 0;
	padding: 4px 0px 3px 10px;
	font-weight: bolder;
	border: 1px solid #696969;
	margin-top: -1px;
	color: #1C1C1C;
	position: relative;
	text-align: center;
}
.boxy-wrapper .title-bar.dragging {
	cursor: move;
}
.boxy-wrapper .title-bar h2 {
	font-size: 18px;
}
.boxy-wrapper .title-bar .close {
	color: #1C1C1C;
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 90%;
	line-height: 1;
}

/* Content Region */

.boxy-inner {
	overflow: hidden;
	background-color: white;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	box-shadow: 0 0 20px #f4f4f4;
	-webkit-box-shadow: 0 0 20px #f4f4f4;
	-moz-box-shadow: 0 0 20px #f4f4f4; 
}

.boxy-inner input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.boxy-content {
	padding: 15px;
}

/* Question Boxes */

.boxy-wrapper .question {
	width: 350px;
	min-height: 80px;
}
.boxy-wrapper .answers {
	text-align: right;
}
